<% include partials/header %>

<div class="ui main text container">
    <div class="ui label">
        <div class="detail"><%= blog.date.toDateString() %></div>
        <div class="detail">
            <a href="/blogs/<%= blog._id %>/edit"><button class="ui icon mini grey button"><i class="write icon"></i></button></a>
        </div>
        <form class="detail attached" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui icon mini red button"><i class="remove icon centered"></i></button>
        </form>
    </div>
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content"><%= blog.text %></div>
        </div>
    </div>
</div>
<% include partials/footer %>